# This is the GRCh37 run

# These three must be filled in
tumor_bam = TUMOR_BAM
normal_bam = NORMAL_BAM
sample_name = SAMPLE_NAME

reference_fasta = /data/image.data/A_Reference/Homo_sapiens_assembly19.fasta
reference_dict = /data/image.data/A_Reference/Homo_sapiens_assembly19.dict
assembly = GRCh37

dbsnp_db = /data/image.data/B_Filter/dbsnp.noCOSMIC.GRCh37.vcf.gz
snpsift_jar = /usr/local/snpEff/SnpSift.jar
varscan_jar = /usr/local/VarScan.jar

# The following paths/files are to be visible from container
sw_dir = /gscuser/mwyczalk/projects/SomaticWrapper/somaticwrapper
strelka_config = /gscuser/mwyczalk/projects/SomaticWrapper/somaticwrapper/params/strelka.WES.ini
varscan_config = /gscuser/mwyczalk/projects/SomaticWrapper/somaticwrapper/params/varscan.WES.ini
pindel_config = /gscuser/mwyczalk/projects/SomaticWrapper/somaticwrapper/params/pindel.WES.ini

# This creates VEP data annotated with gene names both as final output and for key intermediate files
output_vep = 1
annotate_intermediate = 1
